<div class="row" *ngIf="product">
  <div class="col-6">
    <div class="col-7">
        <img style="margin-left: 50px; margin-top: 50px;" src="{{product.picturePath}}" alt="{{product.productName}}" class="img-fluid rounded-start">
    </div>
 <div class="col-5">
    <div style="margin-top: 10px; margin-left: 50px;">Picture 1  ||   Picture 2  || Picture 3 || picture 4 </div>
    
 </div>
   </div>
<div class="col-6 mt-5">
    <h2>{{product.productCode}}</h2>
    <p>{{product.gender}} / {{product.mainGroup}} / {{product.subGroup}} / {{product.model}}</p>
    <div class="d-flex jutify-content-start align-items-center">
        <i class="fa fa-minus-circle text-warning me-2" style="cursor:pointer; font-size: 2em;"></i>
        <span class="font-weight-bold" style="font-size: 1.5rem;">2</span>
        <i class="fa fa-plus-circle text-warning ms-2" style="cursor:pointer; font-size: 2em;"></i>
        <button class="btn btn-outline-secondary ms-4">Add to cart</button>
    </div>
    <div class="row mt-4">
     <h4>Description</h4>   
     <p>{{product.productName}}</p>
    </div>
</div>
</div>
